<ion-view view-title="Help">
  <ion-content>
        <div class="list">
            <div class="item"><a href="tel:+1-0012-345-6789" target="_blank"><img src="img/helpline.png" alt="tel" style="width:100%; height:100%"></a></div>
                        
            <div class="item"><a href="mailto:hi@mydomain.com" target="_blank"><img src="img/email.png" alt="email" style="width:100%; height:100%"></a></div>

            <div  class="item"><a href="#" onclick="window.open('http://www.na.org/', '_system', 'location=yes'); return false;"><img src="img/webpage.png" alt="webpage" style="width:100%; height:100%"></a></div>
                       
        </div>
  </ion-content>
</ion-view>
