<ion-view view-title="Help">
  <ion-content>
    <h1 class="title"  style="margin:10px;">Help</h1>
        <div class="list">
            <div class="item"><ion-option-button class="button-assertive" ng-click="CallTel ({{user.phone}})">
    Call
</ion-option-button></div>
            <div class="item"><a href="tel:+1-0012-345-6789" target="_blank">Tap to call</a></div>
            <div class="item"><a href="mailto:hi@mydomain.com" target="_blank">Tap to send email</a></div>
            <a class="item" href="#" onclick="window.open('http://www.google.com', '_system', 'location=yes'); return false;">www.wesbsiteexample.com</a>
        </div>
  </ion-content>
</ion-view>
