<ion-view view-title="Help" class="helppage">
  <ion-nav-bar class="bar-royal"></ion-nav-bar>
  <ion-content>

    <div class="list">
      <div class="item item-image ">
        <a class="button button-large helppage" href="tel:+1-0012-345-6789" target="_blank">
          <img src="img/helpline.png">
        </a>
      </div>
      <div class="item item-image">
        <a class="button button-large helppage" href="mailto:hi@mydomain.com" target="_blank">
          <img src="img/email.png">
        </a>
      </div>
      <div class="item item-image">
        <a class="button button-large helppage" a href="#" onclick="window.open('http://www.na.org/', '_system', 'location=yes'); return false;">
          <img src="img/webpage.png">
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>