<ion-view view-title="My Progress" >
    <ion-content>


        <div class="list item-text-wrap">
            <div class="item item-checkbox">
                1. Set a goal to quit and commit to quitting. To beat drug addiction, you need to set a goal to quit. You may not be able to do it all at once, but setting the goal will help you chart your next steps
                <label class="checkbox">
                        <input type="checkbox" ng-click="showAlert1()">
                    </label>
            </div>
            <div class="item item-checkbox">
                2.  Decide on treatment and get sober. Get support
                <label class="checkbox">
                        <input type="checkbox" ng-click="showAlert2()">
                    </label>
            </div>
            <div class="item item-checkbox">
                3. Make a list of the harmful effects of your addiction
                <label class="checkbox">
                        <input type="checkbox" ng-click="showAlert3()">
                    </label>
            </div>
            <div class="item item-checkbox">
                4. Write down how you feel physically, find a new meaning for life
                <label class="checkbox">
                        <input type="checkbox" ng-click="showAlert4()">
                    </label>
            </div>
            <div class="item item-checkbox">
                5. Evaluate if you are neglecting responsibilities
                <label class="checkbox">
                        <input type="checkbox" ng-click="showAlert5()">
                    </label>
            </div>
            <div class="item item-checkbox">
                6. Think about whether you’ve seen friends or family lately. 
                <label class="checkbox">
                        <input type="checkbox" ng-click="showAlert6()">
                    </label>
            </div>
            <div class="item item-checkbox">
                7. Admit if you’re stealing or lying to others.
                <label class="checkbox">
                        <input type="checkbox" ng-click="showAlert7()">
                    </label>
            </div>
            <div class="item item-checkbox">
                8. Be open to getting help for different aspects of life , determine the last time you engaged in a hobby
                <label class="checkbox">
                        <input type="checkbox" ng-click="showAlert8()">
                    </label>
            </div>
            <div class="item item-checkbox">
                9. Be honest with yourself, be honest about how drugs impact your life
                <label class="checkbox">
                        <input type="checkbox" ng-click="showAlert9()">
                    </label>
            </div>
            <div class="item item-checkbox">
                10. Keep track of daily tasks
                <label class="checkbox">
                        <input type="checkbox" ng-click="showAlert10()">
                    </label>
            </div>
            <div class="item item-checkbox">
                11. Get a job. Focus on building a new life.
                <label class="checkbox">
                        <input type="checkbox" ng-click="showAlert11()">
                    </label>
            </div>
            <div class="item item-checkbox">
                12. Write down the positive changes you see now that you have done all the steps to find a new life. Keep going!
                <label class="checkbox">
                        <input type="checkbox" ng-click="showAlert12()" >
                    </label>
            </div>
        </div>

    </ion-content>
</ion-view>