<ion-view view-title="My Progress">
  <ion-content>
    <h1>My Progress</h1>
 <ul class="list">
          <li class="item item-checkbox">
              1. We admitted that we were powerless over our addiction; that our lives had become unmanageable.
              <label class="checkbox">
                  <input type="checkbox">
              </label>
          </li>

          <li class="item item-checkbox">
              2. We came to believe that a Power greater than ourselves could restore us to sanity.
              <label class="checkbox">
                  <input type="checkbox">
              </label>
          </li>

          <li class="item item-checkbox">
              3. We made a decision to turn our will and our lives over to the care of God as we understood Him.
              <label class="checkbox">
                  <input type="checkbox">
              </label>
          </li>

          <li class="item item-checkbox">
              4. We made a searching and fearless moral inventory of ourselves.
              <label class="checkbox">
                  <input type="checkbox">
              </label>
          </li>

          <li class="item item-checkbox">
              5. We admitted to God, to ourselves, and to another human being the exact nature of our wrongs.
              <label class="checkbox">
                  <input type="checkbox">
              </label>
          </li>

          <li class="item item-checkbox">
              6. We were entirely ready to have God remove all these defects of character.
              <label class="checkbox">
                  <input type="checkbox">
              </label>
          </li>
          <li class="item item-checkbox">
              7. We humbly asked Him to remove our shortcomings.
              <label class="checkbox">
                  <input type="checkbox">
              </label>
          </li>
          <li class="item item-checkbox">
              
              8. We made a list of all persons we had harmed, and became willing to make amends to them all.
              
              <label class="checkbox">
                  <input type="checkbox">
              </label>
          </li>
          <li class="item item-checkbox">
              9. We made direct amends to such people wherever possible, except when to do so would injure them or others
              <label class="checkbox">
                  <input type="checkbox">
              </label>
          </li>
          <li class="item item-checkbox">
              10. We continued to take personal inventory and when we were wrong promptly admitted it.
              <label class="checkbox">
                  <input type="checkbox">
              </label>
          </li>
          <li class="item item-checkbox">
              11. We sought through prayer and meditation to improve our conscious contact with God as we understood Him, praying only for knowledge of His will for us and the power to carry that out.
              <label class="checkbox">
                  <input type="checkbox">
              </label>
          </li>
          <li class="item item-checkbox">
              12. Having had a spiritual awakening as the result of these steps, we tried to carry this message to addicts, and to practice these principles in all our affairs.
              <label class="checkbox">
                  <input type="checkbox">
              </label>
          </li>

      </ul>
  </ion-content>
</ion-view>

