<ion-view view-title="I Don't Drug">
  <ion-content>
      
      

      <div class="list">
          <div class="item item-input-inset">
              <label class="item item-input-wrapper">
                  <span class="input-label">Diary</span>
                  <textarea id="myThoughts" placeholder="My thoughts"></textarea>
              </label>
              <input type="submit" value="Click Me" onclick="substitute()" />
              <!----<button class="button">Send</button>-->
          </div>

      <div id="title"></div>

      </div>

      

  </ion-content>
  
</ion-view>
